.line-gradient(@direction, @start, @end) {
  background: -webkit-linear-gradient(@direction, @start,  @end 70%, @end);
}

.theme-ask {
  .line-gradient(top, #e43cd0, #8a0ee2);
  .msg-bp-title {
    background-color: #31a689;
  }
}
.theme-propose {
  .line-gradient(top, #f57144, #f42a7c);
  .msg-bp-title {
    background-color: #dd4b3c;
  }
}
.theme-birthday {
  .line-gradient(top, #fbd810, #e9663a);
  .msg-bp-title {
    background-color: #e78810;
  }
}
.theme-brother {
  .line-gradient(top, #2ac7d4, #557ff7);
  .msg-bp-title {
    background-color: #4862ea;
  }
}
.theme-text {
  .line-gradient(top, #56d59b, #369bc5);
  .msg-bp-title {
    background-color: #31a689;
  }
}
.theme-love {
  .line-gradient(top, #ce6ce4, #f33885);
  .msg-bp-title {
    background-color: #ab3fb7;
  }
}

.mask-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}