/*global variable*/
@mainColor: #f31374;

/*global mixin*/
.line-gradient(@direction, @start, @end) {
  background: -webkit-linear-gradient(@direction, @start,  @end 70%, @end);
}
.setTopLine(@lineColor: #f1f1f1) {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid @lineColor;
  color: @lineColor;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.setLeftLine(@lineColor: #f1f1f1) {
  position: absolute;
  left: 0;
  top: 20%;
  width: 1px;
  bottom: 20%;
  border-left: 1px solid @lineColor;
  color: @lineColor;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}
.setRightLine(@lineColor: #f1f1f1) {
  position: absolute;
  right: 0;
  top: 20%;
  width: 1px;
  bottom: 20%;
  border-right: 1px solid @lineColor;
  color: @lineColor;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}


.boderbox {
  box-sizing: border-box;
}
.flex {
  display: flex;
}
.flex-v {
  flex-direction: column;
}
.flex-h {
  flex-direction: row;
}
.flex-1 {
  flex: 1;
}
.flex-align-center {
  align-items: center;
}
.flex-pack-center {
  justify-content: center;
}


.theme-ask {
  .line-gradient(top, #e43cd0, #8a0ee2);
  .msg-bp-title {
    background-color: #31a689;
  }
}
.theme-propose {
  .line-gradient(top, #f57144, #f42a7c);
  .msg-bp-title {
    background-color: #dd4b3c;
  }
}
.theme-birthday {
  .line-gradient(top, #fbd810, #e9663a);
  .msg-bp-title {
    background-color: #e78810;
  }
}
.theme-brother {
  .line-gradient(top, #2ac7d4, #557ff7);
  .msg-bp-title {
    background-color: #4862ea;
  }
}
.theme-text {
  .line-gradient(top, #56d59b, #369bc5);
  .msg-bp-title {
    background-color: #31a689;
  }
}
.theme-love {
  .line-gradient(top, #ce6ce4, #f33885);
  .msg-bp-title {
    background-color: #ab3fb7;
  }
}
input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  outline: none;
  clip: rect(0 0 0 0);
}
.mask-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.clearfix:after{
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.bp-button {
  width: auto;
  border-width: 0;
  outline: 0;
  -webkit-appearance: none;
  font-size: 13px;
  border-radius: 5px;
}
/*global style*/
.f12 {
  font-size: 12px;
}
.f13 {
  font-size: 13px;
}
.f14 {
  font-size: 14px;
}
.f15 {
  font-size: 15px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.tc {
  text-align: center;
}
.white {
  color: #fff;
}
.window {
  padding: 0.2rem 0.4rem;
}
.window-title {
  text-align: center;
  margin-bottom: 20px;
}
.rpxline {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  transform: scaleY(0.5);
}
.window-bottom {
  margin-top: 0.2rem;
  .account {
    width: 1.6rem;
  }
  .repeat {
    color: @mainColor;
    margin-right: 0.6rem;
    .svg-icon {
      width: 0.4rem;
      height: 0.4rem;
      vertical-align: middle;
    }
    span {
      margin: 0 8px;
      vertical-align: middle;
    }
  }
}
.overflow {
  white-space:nowrap;
  text-overflow:clip; 
  overflow:hidden;
}
.fullscreen {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
.scroll {
  overflow-x: hidden;
  overflow-y: auto;
}

/*popup city picker*/
.vux-popup-picker {
  &.vux-popup-dialog {
    background: #181b2a;
  }
  .vux-popup-header {
    background-color: #121420;
    &.vux-1px-b:after {
      border-bottom: 0;
    }
    .vux-popup-header-title {
      color: #fff;
    }
    .vux-popup-header-right {
      color: @mainColor;
    }
  }
  .scroller-mask {
    background-image: linear-gradient(to bottom, rgba(24,27,42,0.95), rgba(24,27,42,0.8)), linear-gradient(to top, rgba(24,27,42,0.95), rgba(24,27,42,0.8));
  }
  .scroller-item {
    color: #fff;
  }
  .scroller-indicator {
    background-image: none;
  }
}

.n-label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: transparent;
}
