@mainpadding: 0.24rem;
@avatarWidth: 0.64rem;
@bgColor: -webkit-radial-gradient(circle farthest-side, #621653, #170127);
@bubleBg: rgba(255, 255, 255, 0.12);
@dsBg: rgba(0, 0, 0, 0.15);
@maxMsgWidth: 4.88rem;
@minMsgWidth: 2.34rem;
@msgpadTop: 0.15rem;
@msgpadLeft: 0.15rem;
@baseFontSize: 14px;
.radius() {
  border-radius: 50%;
}

.msg-item {
  padding: 0 @mainpadding;
  margin-bottom: 40px;
}

.msg-item-user-avatar {
  margin-right: 8px;
  img {
    width: @avatarWidth;
    height: @avatarWidth;
    .radius();
  }
}

.msg-item-middle {
  padding: @msgpadTop @msgpadLeft;
  margin-top: 4px;
  margin-bottom: 6px;
  font-size: 15px;
  background-color: @bubleBg;
  border-radius: 6px;
  box-sizing: border-box;
}

.msg-item-top {
  span {
    display: block;
    margin-right: 4px;
  }
  .msg-name {
    font-size: @baseFontSize;
  }
}
.sex {
  padding: 2px 4px;
  border-radius: 3px;
  .svg-icon {
    height: 12px;
    width: 12px;
    display: block;
  }
}
.sex-male {
  background-color: #3a72d8;
}
.sex-female {
  background-color: #ff3976;
}